@import "tailwindcss";

/* Global base (dark) */
html, body, #root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  /* Dark & modern base */
  @apply bg-neutral-950 text-gray-200 antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}